name: Verify NECTO and Package Assets (Linux)

on:
  workflow_dispatch:
  schedule:
    - cron: "0 4 * * 1-5"
    - cron: "0 9 * * 1-5"
    - cron: "0 13 * * 1-5"

env:
  ES_HOST: ${{ secrets.ES_HOST }}
  ES_USER: ${{ secrets.ES_USER }}
  ES_PASSWORD: ${{ secrets.ES_PASSWORD }}
  ES_INDEX_LIVE: ${{ secrets.ES_INDEX_LIVE }}
  GITHUB_REPO: ${{ github.repository }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  necto_verification_linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Install runtime deps
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            p7zip-full libopus-dev libevent-dev freeglut3-dev \
            libminizip-dev libxcb-shape0-dev libxcb-icccm4-dev \
            libxcb-cursor-dev libxcb-keysyms1-dev libxkbcommon-x11-dev

      - name: Install Python deps
        run: |
          python -m pip install --upgrade pip
          pip install -r scripts/requirements/shared.txt
          pip install -r scripts/requirements/databases.txt

      - run: python -u scripts/necto_packages_check.py step1
      - run: python -u scripts/necto_packages_check.py step2

      - run: python -u scripts/necto_packages_check.py step3
        if: always()
      - run: python -u scripts/necto_packages_check.py step4
        if: always()
      - run: python -u scripts/necto_packages_check.py step5
        if: always()
      - run: python -u scripts/necto_packages_check.py step6
        if: always()
      - run: python -u scripts/necto_packages_check.py step7
        if: always()
      - run: python -u scripts/necto_packages_check.py step8
        if: always()

      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: linux-artifacts
          path: |
            package_dependencies.json
            message.txt
            scripts/necto_utils/results.html

      # - name: Notify Mattermost
      #   if: always()
      #   env:
      #     MATTERMOST_WEBHOOK_URL: ${{ secrets.MATTERMOST_WEBHOOK_URL_TEST }}
      #   run: |
      #     curl -X POST -H 'Content-Type: application/json' \
      #     --data "{\"text\": \"$(cat message.txt)\"}" \
      #     $MATTERMOST_WEBHOOK_URL
