name: Verify NECTO and Package Assets (Windows)

on:
  workflow_dispatch:
  schedule:
    - cron: "0 4 * * 1-5"
    - cron: "0 9 * * 1-5"
    - cron: "0 13 * * 1-5"

env:
  ES_HOST: ${{ secrets.ES_HOST }}
  ES_USER: ${{ secrets.ES_USER }}
  ES_PASSWORD: ${{ secrets.ES_PASSWORD }}
  ES_INDEX_LIVE: ${{ secrets.ES_INDEX_LIVE }}
  GITHUB_REPO: ${{ github.repository }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  necto_verification_windows:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r scripts/requirements/shared.txt
          pip install -r scripts/requirements/databases.txt

      - name: Step 1 - Install NECTO Studio
        run: python -u scripts/necto_packages_check.py step1

      - name: Step 2 - Install all packages with NECTO installer
        run: python -u scripts/necto_packages_check.py step2

      - name: Step 3 - Create dependencies
        if: always()
        run: python -u scripts/necto_packages_check.py step3

      - name: Step 4 - CORE-to-MCU dependencies
        if: always()
        run: python -u scripts/necto_packages_check.py step4

      - name: Step 5 - CODEGRIP-to-MCU dependencies
        if: always()
        run: python -u scripts/necto_packages_check.py step5

      - name: Step 6 - MCHP-to-MCU dependencies
        if: always()
        run: python -u scripts/necto_packages_check.py step6

      - name: Step 7 - Board-to-BSP dependencies
        if: always()
        run: python -u scripts/necto_packages_check.py step7

      - name: Step 8 - Card-to-BSP dependencies
        if: always()
        run: python -u scripts/necto_packages_check.py step8

      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: windows-artifacts
          path: |
            package_dependencies.json
            message.txt
            scripts/necto_utils/results.html

      # - name: Notify Mattermost (Windows)
      #   if: always()
      #   env:
      #     MATTERMOST_WEBHOOK_URL: ${{ secrets.MATTERMOST_WEBHOOK_URL_TEST }}
      #   run: |
      #     $MESSAGE = Get-Content -Raw message.txt
      #     $payload = @{ text = $MESSAGE } | ConvertTo-Json -Compress
      #     curl.exe -X POST -H "Content-Type: application/json" -d $payload $env:MATTERMOST_WEBHOOK_URL
